<!doctype html>
<html lang="en" class="h-100" style="height:100%;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title><%- title %></title>

    <!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Favicons -->
	<link rel="icon" href="favicon.ico">

	<!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
	<link href="css/file-icon-vivid.css" rel="stylesheet" />
	<link href="css/components.css" rel="stylesheet">
	
	<script src="https://kit.fontawesome.com/9e9c0c7a75.js" crossorigin="anonymous"></script>
    
	<!-- Configuration variables -->  
	<script>
		var config = JSON.parse("<%=config%>".replace(/&#34;/g, '"'))
		var hasPreAuthenticated = false;
		var isAuthenticated = false;
		var baseUrl = config.Url.ApplicationBaseUrl
		var apiPath = config.Url.APIPath
		console.log(config.ExcludedRecordTypes.length)
    </script>

  </head>
  <body class="d-flex flex-column h-100" style="height:100%;">
	<%- include('./partials/dummy-modal.ejs') %>
	<%- include('./partials/header.ejs') %>  
	<%- include('./partials/session-expired.ejs') %>
	<%- include('./partials/upload-status.ejs') %>
	<%- include('./partials/create-folder-status.ejs') %>
	<%- include('./partials/connection-failed.ejs') %>
	
	<!-- Begin page content -->
	<main role="main" class="flex-shrink-0" style="height:calc(100% - 112px);">
	
	  <div class="container-fluid" style="height:100%;">
		<%- body %>
	  </div>

	</main>

	<%- include('./partials/footer.ejs') %>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.5.1.min.js"></script>
	<script src="js/jquery.cookie.js"></script>
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
    <!--<script src="../../assets/js/vendor/popper.min.js"></script>-->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/functions.js"></script>
	<script src="js/events.js"></script>
</body>
</html>
